body,
ul,
li,
p,
h1,
h2,
h3,
h4,
dl,
dd,
form,
input,
textarea,
select {
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: "微软雅黑";
    line-height: 1;
}

ul,
li {
    list-style: none;
}

i {
    font-style: normal;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

a:hover {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.mt25 {
    margin-top: 25px;
}


/* 设置滚动条样式 */

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}


/* 设置滚动条样式 */